name: Build Tweak

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y make clang perl git unzip curl ldid dpkg

      - name: Install Theos
        run: |
          git clone --recursive https://github.com/theos/theos.git $HOME/theos
          echo "THEOS=$HOME/theos" >> $GITHUB_ENV
          echo "$HOME/theos/bin" >> $GITHUB_PATH

      - name: Build
        run: |
          export THEOS=$HOME/theos
          make package

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: GaevschiSplash
          path: packages/*.deb
